@font-face {
    font-family: Sketchzone;
    src: url(/assets/fonts/Sketchzone.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1.5px;
}

.logo{
    font-family: Sketchzone;
    color: #CCF654 !important;
}

.container .principal{
    text-align: center;
}

.hr{
    height:3px !important;
    border-width:0 !important;
    color:black !important;
}

.btn-outline-primary {
    --bs-btn-color: #CCF654;
    --bs-btn-border-color: #CCF654;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #CCF654;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #CCF654;
    --bs-btn-active-bg: #CCF654;
    --bs-btn-active-border-color: #CCF654;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #CCF654;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #CCF654;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #CCF654;
    --bs-btn-border-color: #CCF654;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #CCF654;
    --bs-btn-hover-border-color: #CCF654;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #CCF654;
    --bs-btn-active-border-color: #CCF654;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #CCF654;
    --bs-btn-disabled-border-color: #CCF654;
}